@font-face {
    font-family: 'WF Visual Sans';
    src: url('https://dhygzobemt712.cloudfront.net/Fonts/VF/WFVisualSansVF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --gap: 40px;
    --spark-size: 20px;
    --ff-sans: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    --ff-serif: Georgia, Cambria, "Times New Roman", Times, serif;
    --ff-mono: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
    --black-200: #424548;
    --green-400: #6ecf9c;
}

html, body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("./space-bg-2560x1707.jpg");
    background-position: center center;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.two-col > div > h2 {
    margin-top: 0;
}

h2.has-subheadings {
    margin-bottom: 35px;
}

figure {
    margin: 0;
}
figcaption {
    font-size: 14px;
    text-align: center;
    margin-top: 4px;
}

#viewport-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#image-atomizer {
    position: relative;
    width: 100%;
    flex: 1;
}

header {
    background: #15171b;
    border-bottom: 1px solid #0348fa99;
}

nav.top-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.logo {
    font-size: 22px;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

#intro {
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 1;
    pointer-events: none;
}

#intro * {
    text-shadow: 1px 1px 2px black;
}

.name {
    font-size: 98px;
    text-transform: uppercase;
    opacity: 1;
    visibility: hidden;
}

.title {
    font-size: 36px;
    opacity: 1;
    visibility: hidden;
}

.description {
    margin-top:40px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    opacity: 1;
    visibility: hidden;
}

.typewriter-text {
    position: absolute;
    top: 200px;
    left: calc((100% - 731px) / 2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
}

section:not(#image-atomizer,#intro) {
    font-family: 'WF Visual Sans', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 18px;
    color: #ececec;
    padding: 50px 0 40px;
    background: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(21, 23, 27, 1) 100%);
}

.two-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--gap);
}

.two-col.left-text > div:first-child, .two-col.right-text > div:last-child {
    flex: 0 0 calc(60% - (var(--gap) / 2));
}

.two-col.left-text > div:last-child, .two-col.right-text > div:first-child  {
    flex: 0 0 calc(40% - (var(--gap) / 2));
    overflow: visible;
}

.interactive-image {
    position: relative;
}

.interactive-image .main-image {
    position: relative;
}

.interactive-image .frames-container, .interactive-image .frames-container img {
    position: absolute;
    width: 100%;
    Left: 0;
    top: 0;
}

.interactive-image .frames-container.searching-eyes-frames {
    top: 39.3%;
}

.light-switch-container, .light-switch-container img {
    position: absolute;
    width: 100%;
    Left: 0;
    top: 0%;
}

.light-switch-container {
    top: 30%;
}

.interactive-image .frames-container img {
    visibility: hidden;
}

.interactive-image .frames-container img:last-child {
    visibility: visible;
}


.glow-light {
    display: block;
    position: absolute;
    width: 550px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate( -15%, -60%);
    background-image: radial-gradient(circle at center, rgba(228, 206, 168, 0.8) 0%, rgba(255, 254, 253, 0) 85%);
    filter: blur(90px);
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
}

#about-me-image.interactive-image {
    max-width: 600px;
}

.light-on-container, .coffee-cup-container, img.click-me-img {
    position: absolute;
    pointer-events: none;
}

#about-me-image img.click-me-img {
    display:block;
    top: 20%;
    left: 86%;
}

.light-on-container {
    top: 36.6%;
}

.light-on-container > img {
    visibility: hidden;
}

.coffee-cup-container {
    width: 100%;
    aspect-ratio: 46000 / 4983;
    top: 53%;
}

.coffee-cup-container img {
    position: absolute;
    width: 100%;
}
.coffee-cup-container img:first-child {
    visibility: hidden;
}

#searching-bugs.interactive-image {
    max-width: 605px;
}

#searching-bugs img.click-me-img {
    top: 23%;
    left: 86%;
}

#searching-bugs .cone-light-container {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible
}

#searching-bugs .cone-light-container img {
    width: 100%;
    height: auto;
    visibility: hidden;
}

button.light-switch,
button.fan-switch,
button.coffee-cup-btn {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    background: none;
    border: none;
}

#about-me-image button.light-switch {
    width: 4%;
    height: 3%;
    top: 28%;
    left: 84.5%;
    transform: rotateZ(-65deg);  
}

#about-me-image button.coffee-cup-btn {
    width: 8%;
    height: 7.5%;
    top: 54%;
    left: 13%;
}

#about-me-image .coffee-found-dialog,
#searching-bugs .searching-bugs-found-dialog {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    font-size: 15px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 22%;
    background: rgba(0, 0, 0, 0.65);
    /* border: 1px solid #0348fa; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* box-shadow: 1px 1px 1px 0px white */
    border-radius: 8px;
    opacity: 0;
}
#searching-bugs .searching-bugs-found-dialog {
    height: 16%;
}

#about-me-image .coffee-found-dialog > .line3 {
    padding-top: 5px;
}
#searching-bugs .searching-bugs-found-dialog > .line3 {
    padding-top: 8px;
}

#searching-bugs button.light-switch {
    width: 3.9%;
    height: 5.5%;
    top: 30.9%;
    left: 81.9%;
}

#searching-bugs button.fan-switch {
    width: 3.9%;
    height: 5.5%;
    top: 30.8%;
    left: 86.6%;
}

.fan-dome-light-container {
    position: absolute;
    left: 0;
    top: 13.6%;
}

.fan-dome-light-container img {
    visibility: hidden;
}


img:not(.click-me-img,.the-bug) {
    width: 100%;
    max-width: 100%;
    height: auto;
}

canvas.draw {
    display: block;
}

.hover-me {
    position: absolute;
    top: 50%;
    left: 50%;
}

.hover-me img {
    display: block;
    opacity: 0;
    transform: translate(-309px, -223px) rotateZ(5deg);
    width: 100px;
    height: auto;
}

.the-bug {
    display:block;
    position: absolute;
    width: 45px;
    height: auto;
    top: 8%;
    left: 34%;
    cursor: pointer;
    visibility: hidden;
}

/* img.the-bug {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
} */

.spark-positioner {
    position: absolute;
    top: 18.5%;
    left: 82%;
    height: 48px;
    width: 48px;
}

.spark {
    position: absolute;
    width: calc(var(--spark-size) * 2);
    height: calc(var(--spark-size) * 2);
    transform: rotate(-105deg);
}

.spark span {
    position: absolute;
    width: 2px;
    height: var(--spark-size);
    pointer-events: none;
    transform-origin: bottom;
    overflow:hidden;
    background: transparent;
    visibility: hidden;
    opacity: .5;
}

.spark span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: #000;
    visibility: hidden;
}

.spark span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: #fff;
    visibility: hidden;
}

.spark.animate span,
.spark.animate span::before,
.spark.animate span::after {
    visibility: visible;
}

.spark.animate span::after {
    animation: animate .5s ease-in 2 both;
}

img.twinkle {
    position: absolute;
    width: 20px;
    height: auto;
    top: 53%;
    left: 18%;
    transform: scale(0, 0);
    visibility: hidden;
}

#stack-overflow-section {
    font-family: var(--ff-sans);
    color: #acb3b9;
}
.stack-profile-container {
    

}
.stack-user-container {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

.stack-logo-container {
    padding-bottom: 10px;
}
img.stack-logo {
    max-width: 176px;
}
.stack-user-image {
    max-width: 128px;
}
.stack-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stack-user-info h2 {
    font-size: 24px;
    margin: 0;
    line-height: 1;
    margin-bottom: 8px;
}
.stack-user-info h3 {
    font-size: 18px;
    margin: 0;
    line-height: 1;
    margin-bottom: 8px;
}

.stack-duration-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #acb3b9;
    margin: 0;
    padding: 0;
}
.stack-duration-list li {
    padding: 2px;
}

.stack-duration-list svg {
    fill: #acb3b9;
}

.d-flex {
    display: flex;
}
.fd-column {
    flex-direction: column;
}
.jc-space-between {
    justify-content: space-between;
}
.jc-space-around {
    justify-content: space-around;
}
.duration-item {
    column-gap: 4px;
}
.ps-absolute {
    position: absolute;
}
.stack-reputation-summary-container {
}
.stack-reputation-summary-container h3 {
    font-weight: 400;
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0 3px;
    padding: 0;
}
.reputation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #424548;
    border-radius: 7px;
    padding: 10px;
}
.stack-label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.stack-reputation-value {
    font-size: 30px;
    font-weight: 700;
    color: #dedede;
}
.stack-reputation-value span.top {
    font-size: 12px;
    vertical-align: super;
    padding-right: 4px;
}
.reputation-graph {
    position: relative;
    font-size: 12px;
}
.profile-cards--graph {
    position: relative;
    overflow: hidden;
    width: 197px;
    height: 68px;
    background-image: repeating-linear-gradient(0deg, transparent, transparent 13px, var(--black-200) -13px, var(--black-200) 21px);
    background-position: 0 -4px;
}
.reputation-graph ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#reputationGraph {
    width: 173px;
    height: 50px;
    margin-left: 30px;
}

.profile-cards--graph .line {
    stroke: var(--green-400);
    stroke-width: 2;
    fill: none;
}
.profile-cards--graph .overlay {
    fill: none;
    pointer-events: all;
}
.stack-profile-links {
    margin-top:8px;
    display: flex;
    gap: 10px 20px;
}

.stack-profile-links .stack-link-item {
    display: flex;
    align-items: center;
    gap: 2px;
    color: inherit;
}
.stack-profile-links .stack-link-item svg.iconGlyphMd {
    padding-right: 3px;
}
.stack-profile-links .stack-link-item svg.iconShareSm {
    fill: currentColor;
    fill: #acb3b9;
}

.stack-profile-links a {
    transition: color 0.2s ease-in-out;
    color: #acb3b9;
}
.stack-profile-links a:hover,
.stack-profile-links a:focus {
    text-decoration: none;
    color: #E7700D;
}


@keyframes animate {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}


@media (max-width: 1766px) {
    .hover-me img {
        transform: translate(-229px, -143px) rotateZ(5deg);
    }
}

@media (max-width: 1245px) {
    .page-container {
        overflow: hidden;
    }
}



@media (max-width: 1024px) {
    .two-col {
        flex-direction: column;
    }
    .two-col.left-text > div:last-child, .two-col.right-text > div:first-child  {
        order: 1;
    }

    .spark-positioner {
        top: 21%;
        left: 83%;
    }
}

/* Mobile mode = < 700px */
@media (max-width: 700px) {
    #intro .name {
        font-size: 58px;
    }
    #intro .title {
        font-size: 21.5px;
    }
    #intro .description {
        font-size: 18px;
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
    .hover-me img {
        transform: translate(-159px, -73px) rotateZ(5deg) scale(0.7);
    }
}

@media (max-width: 645px) {
    .two-col.left-text > div:last-child, .two-col.right-text > div:first-child {
        overflow: hidden;
    }
    .spark-positioner {
        top: 20%;
        left: 82%;
    }
}

@media (max-width: 500px) {
    .spark-positioner {
        top: 17%;
        left: 81%;
    }
    .stack-reputation-value {
        font-size: 28px;
    }
    .stack-reputation-value span {
        display: block;
        line-height: 1;
    }
}

@media (max-width: 400px) {
    #intro .name {
        font-size: 44px;
    }
    #intro .title {
        font-size: 16px;
    }
    #intro .description {
        font-size: 16px;
        max-width: 280px;
        margin-top: 20px;
    }
    section:not(#image-atomizer,#intro) {
        padding: 30px 0 30px;
        font-size: 16px;
    }
    .spark-positioner {
        top: 15.5%;
        left: 80.5%;
    }

    figcaption {
        font-size: 12px;
    }
    .hover-me img {
        transform: translate(-170px, -88px) rotateZ(5deg) scale(0.7);
    }
    img.click-me-img {
        transform: scale(0.7) translate(-10px, -5px);
    }
    .the-bug {
        width: 30px;
    }
    #about-me-image .coffee-found-dialog,
    #searching-bugs .searching-bugs-found-dialog {
        font-size: 11px;
        padding: 3px 4px;
    }
    img.twinkle {
        top: 52%;
        left: 17.5%;
    }
    .reputation-container {
        flex-direction: column;
    }
    .rank {
        order: 2;
    }
    .rank .stack-label {
        padding-bottom: 5px;
    }
    .stack-duration-list {
        font-size: 11px;
    }
    .duration-item {
        column-gap: 2px;
    }
}

@media (max-width: 350px) {
    .spark-positioner {
        top: 14.5%;
        left: 79.5%;
    }

    #searching-bugs .searching-bugs-found-dialog {
        height: 18%;
    }

    #about-me-image .coffee-found-dialog .line3,
    #searching-bugs .searching-bugs-found-dialog .line3 {
        padding: 0;
    }

    img.twinkle {
        top: 51.5%;
        left: 17%;
    }
}


