@font-face {
    font-family: 'WF Visual Sans';
    src: url('https://dhygzobemt712.cloudfront.net/Fonts/VF/WFVisualSansVF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --gap: 40px;
}

html, body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("./space-bg-2560x1707.jpg");
    background-position: center center;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#viewport-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#image-atomizer {
    position: relative;
    width: 100%;
    flex: 1;
}

header {
    background: #15171b;
    border-bottom: 1px solid #0348fa99;
}

nav.top-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    color: white;
}

.logo {
    font-size: 22px;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.intro {
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 1;
    pointer-events: none;
}

.intro * {
    text-shadow: 1px 1px 2px black;
}

.name {
    font-size: 98px;
    text-transform: uppercase;
    opacity: 1;
    visibility: hidden;
}

.title {
    font-size: 36px;
    opacity: 1;
    visibility: hidden;
}

.description {
    margin-top:40px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    opacity: 1;
    visibility: hidden;
}

.typewriter-text {
    position: absolute;
    top: 200px;
    left: calc((100% - 731px) / 2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
}

section:not(#image-atomizer,.intro) {
    font-family: 'WF Visual Sans', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 18px;
    color: #ececec;
    padding: 50px 0 40px;
    background: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(21, 23, 27, 1) 100%);
}

.two-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--gap);
}

.two-col.left-text > div {
}

.two-col.left-text > div:first-child, .two-col.right-text > div:last-child {
    flex: 0 0 calc(60% - (var(--gap) / 2));
}

.two-col.left-text > div:last-child, .two-col.right-text > div:first-child  {
    flex: 0 0 calc(40% - (var(--gap) / 2));
    overflow: visible;
}

/*.two-col.left-text > div:last-child */

.interactive-image {
    position: relative;
}

.interactive-image .main-image {
    position: relative;
}

.interactive-image .frames-container, .interactive-image .frames-container img {
    position: absolute;
    width: 100%;
    Left: 0;
    top: 0;
}

.interactive-image .frames-container.searching-eyes-frames {
    top: 39.3%;
}

.light-switch-container, .light-switch-container img {
    position: absolute;
    width: 100%;
    Left: 0;
    top: 0%;
}

.light-switch-container {
    top: 30%;
}

.interactive-image .frames-container img {
    visibility: hidden;
}

.interactive-image .frames-container img:last-child {
    visibility: visible;
}


span.glow-light {
    display: block;
    position: absolute;
    background-image: radial-gradient(circle at center, rgba(228, 206, 168, 0.8) 0%, rgba(228, 206, 168, 0) 70%);
    filter: blur(90px);
    z-index: -1;
    transition: opacity 0.5s ease;
    opacity: 1;
}

#about-me-image span.glow-light {
    width: 450px;
    height: 450px;
    top: -55px;
    right: -130px;
}

#searching-bugs .cone-light-container {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible
}

#searching-bugs .cone-light-container img {
    width: 100%;
    height: auto;
    visibility: hidden;
}

button.light-switch,
button.fan-switch {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    background: none;
    border: none;
}

#about-me-image button.light-switch {
    width: 20px;
    height: 15px;
    top: 27%;
    left: 85%;
    transform: rotateZ(-65deg);
}

#searching-bugs button.light-switch {
    width: 20px;
    height: 32px;
    top: 30.9%;
    left: 81.8%;
}

#searching-bugs button.fan-switch {
    width: 20px;
    height: 32px;
    top: 30.8%;
    left: 86.5%;
}

.fan-dome-light-container {
    position: absolute;
    left: 0;
    top: 13.6%;
}

.fan-dome-light-container img {
    visibility: hidden;
}


img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

canvas.draw {
    display: block;
}

.hover-me {
    position: absolute;
    top: 50%;
    left: 50%;
}

.hover-me img {
    display: block;
    opacity: 0;
    transform: translate(-229px, -143px) rotateZ(5deg);
    width: 100px;
    height: auto;
}

/* Tablet mode = < 1000px */
@media (max-width: 1000px) {
    #particle-slider {
        height: 700px;
    }
}

/* Mobile mode = < 700px */
@media (max-width: 700px) {
    #particle-slider {
        height: 700px;
    }
}


